html, body {
  color: white;
  background-color: #21232A;
  padding: 50px;
  font-size: 50px;
}

button {
  font-size: 1.3rem;
  margin-right: 10px;
  padding: 10px;
}

input {
  color: grey;
  font-size: 1.2rem;
  width: 100%;
  background-color: transparent;
}